

{%include 'publicheader.html'%}
 <!-- ======= Hero Section ======= -->
 <section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
      <h1 style="color: black;margin-top :350px;">EASYSHOP</h1>
      <h2 style="color: black;">ANY DAY IS PERFECT FOR SHOPPING..!</h2>
    </div>
  </section><!-- End Hero -->

<h1 align="center">USER REGISTER NOW</h1>
<form action="" method="post">
    <table align="center" class="table" style="width : 400px;">        <tr>
        <tr>
            <th>FIRST NAME</th>
            <td><input type="text" name="fname"  required></td>
        </tr>
        <tr>
            <th>LAST NAME</th>
            <td><input type="text" name="lname" required></td>
        </tr>
        <tr>
            <th>HOUSE NAME</th>
            <td><input type="text" name="hname" required></td>
        </tr>
        <tr>
            <th>PLACE</th>
            <td><input type="text" name="place" required></td>
        </tr>
        <tr>
            <th>LANDMARK</th>
            <td><input type="text" name="landmark" required></td>
        </tr>
        <tr>
            <th>PINCODE</th>
            <td><input type="text" name="pincode" required></td>
        </tr>
      
        <tr>
            <th>EMAIL</th>
            <td><input type="email" name="email" required></td>
        </tr>
     
        <tr>
            <th>USERNAME</th>
            <td><input type="text" name="uname" required></td>
        </tr>
        <tr>
            <th>PASSWORD</th>
            <td><input type="password" name="password" required></td>
        </tr>
      
        <tr>
            <th></th>
            <th><input type="submit" name="register" class="btn btn-success" value="REGISTER"></th>
        </tr>
    </table>
</form>


{%include 'footer.html'%}



